{% extends 'base.html' %}

{% block page_title %}
All Posts
{% endblock %}

{% block main_content %}

    <h2>This is the list of posts</h2>

    <div class="row">
    {% for post in post_objects %}
        <div class="col-md-4">
            <h3>{{ post.title}}</h3>
            <p>{{ post.description }}</p>
            <p>{{ post.date }}</p>
            {% for skill in post.skills.all %}
                <p>{{ skill }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}
